﻿@model RMS.Models.Vacancy
<html>
<body>
    @using (Html.BeginForm("Create", "Vacancy", FormMethod.Post))
    {
      <section class="content-header">
            <h1>Create Vacancy</h1>
       </section>
        <section class="content">
            <div class="Create Vacancy-Form">
            
                    <div class="row">
                        <div class="col-md-6">
                              <div class="form-group ">
                              <div class="form-group log-status">
                                    <label for="JobTitle" class="col-sm-4 control-label">Job-Title</label>
                                    <input type="text" id="search" placeholder="JobTitle" />
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                            <div class="form-group log-status">
                                <label for="JobDescription" class="col-sm-4 control-label">Job-Description</label>
                                @Html.TextAreaFor(m => m.JobDescription, new { @id = "JobDescription", @class = "col-sm-8", @placeholder = "JobDescription" })
                                <div id="JobDescription" style="color:red">
                                    @Html.ValidationMessageFor(m => m.JobDescription)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="Keywords" class="col-sm-4 control-label">Keywords</label>
                                @Html.TextAreaFor(m => m.Keywords, new { @id = "Keywords", @class = "col-sm-8", @placeholder = "Keywords" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="NumberOfPositions" class="col-sm-4 control-label">Number Of Positions</label>
                                @Html.TextBoxFor(m => m.NumberOfPositions, new { @id = "NumberOfPositions", @class = " col-sm-8", @placeholder = "NumberOfPositions" })
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="NumberOfPositions" class="col-sm-4 control-label">Location</label>
                            
                            @Html.DropDownList("locations", "select")
                         </div>
                    </div>
                </div>
          
            
                <button type="submit">Add Job</button>
               </div>
        </section>
    }

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</body>
</html>




<script>
    var id = $('#search').val();
    var url = "/Vacancy/GetJobTitle" + id;
    $('#search').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: url,
                data: { query: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                       return {
                           label: item.JobTitle,
                            value: item.Id
                        }
                    }));
                },
                error: function(error)
                {
                    alert("error")
                }
            })
        },
        select: function (event, ui) {
            $('#search').val(ui.item.label);
            $('#Id').val(ui.item.value);
            return false;
        },
        minLength: 1
    });
</script>