﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">





    <link href="~/Areas/Admin/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Areas/Admin/Content/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/StyleSheet.css" rel="stylesheet" />



</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="" class="logo"></a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            @using (Html.BeginForm("LogOut", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                               <button type="submit" class="log-out-btn">Log Out</button>

                            }
                        </li>                       
                             
                    </ul>
                </div>
            </nav>
        </header>
   
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="active treeview">
                    <a href="#">
                        @*<i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>*@
                    </a>
                    <ul class="treeview-menu">
                        @*<li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>*@
                        <li>    </li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Vacancy</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink("Create Vacancy", "Create", "Vacancy")</li>
                        <li>@Html.ActionLink("View Vacancies", "View", "Vacancy")</li>
                        @*<li><a href="#"><i class="fa fa-circle-o"></i> Flot</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Inline charts</a></li>*@
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>Prospects</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink("Create Prospect", "CreateProspect", "Prospects")</li>
                        <li>@Html.ActionLink("View Prospects", "ViewProspects", "Prospects")</li>
                        @*<li><a href="#"><i class="fa fa-circle-o"></i> Buttons</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Sliders</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Timeline</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Modals</a></li>*@
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Manage Users</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink("Create Employee", "CreateEmployee", "ManageUsers")</li>
                        <li>@Html.ActionLink("Candidate/Employee List", "ViewDetails", "ManageUsers")</li>
                        @*<li><a href="#"><i class="fa fa-circle-o"></i> Editors</a></li>*@
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Recruitment Process</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink("Recruitment Process", "RecruitmentProcess", "RecruitmentProcess")</li>
                        @*<li><a href="#"><i class="fa fa-circle-o"></i> Data tables</a></li>*@
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>Interview Details</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink("Interview Details", "Interview", "Interview")</li>
                        <li>@Html.ActionLink("Reschedule Request", "RescheduleRequest", "Interview")</li>
                        <li>@Html.ActionLink("Interview Report", "InterviewReport", "Interview")</li>
                        @*<li><a href="#"><i class="fa fa-circle-o"></i> Register</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Blank Page</a></li>*@
                    </ul>
                </li>
                @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Multilevel</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        </ul>
                    </li>*@
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Content Header (Page header) -->
            <section class="content-header"></section>
            <!-- Main content -->
            <section class="content">
                <!-- Info boxes -->
                @RenderBody()


            </section>



            <div class="control-sidebar-bg"></div>
        </div>

        <script src="~/Areas/Admin/Scripts/jQuery-2.1.4.min.js"></script>
        <script src="~/Areas/Admin/Scripts/bootstrap.js"></script>
        <script src="~/Areas/Admin/Scripts/fastclick.min.js"></script>
        <script src="~/Areas/Admin/Scripts/app.min.js"></script>

        <script src="~/Areas/Admin/Scripts/jquery.sparkline.min.js"></script>
        <script src="~/Areas/Admin/Scripts/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/Areas/Admin/Scripts/jquery-jvectormap-world-mill-en.js"></script>

        <script src="~/Areas/Admin/Scripts/jquery.slimscroll.min.js"></script>
        <script src="~/Areas/Admin/Scripts/Chart.min.js"></script>







    </div>



</body>
</html>
