﻿@{
    ViewBag.Title = "Home Page";
    
    }



<div id="wrapper" style="text-align: center">
    <h1>Welcome To Ex2 RMS</h1>
</div>



@if (Request.IsAuthenticated)
{
    <li>
         @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>

    
        }
    </li>
}
else
{
    <ul>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    

    </ul>
}
