﻿@model RMS.Web.UI.ViewModel.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
       <div class="login-form">
            <div class="login-as"><span>Admin User</span></div>
            <div class="form-group ">
                  @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control", @placeholder = "Username" })
                <div id="email_id" style="color:red">
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <i class="fa fa-user"></i>
            </div>
            <div class="form-group log-status">
                @Html.PasswordFor(m => m.Password, new { @id = "Password", @class = "form-control", @placeholder = "Password" })
                <div id="Password_id" style="color:red">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <i class="fa fa-lock"></i>
            </div>
             <div class="form-group">
                <label>
                    @Html.CheckBoxFor(x => x.RememberMe, new { @onclick = "return submitCheckData();", @id = "remember-id" })
                    Remember Me?


                </label>
            </div>
            <button type="submit" class="log-btn" onclick="return checkRemember();">Log in</button>
            <div class="forget-password-box"> <a class="link" href="#" data-toggle="modal" data-target="#forget-password-modal">Forgot Password?</a></div>
        </div>
     }
    <!-- Modal(Partial view render) -->
   @Html.Partial("~/Views/Shared/_ForgotPassword.cshtml",Model);
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/remember.js"></script>
</body>
</html>


