﻿@model RMS.Web.UI.ViewModel.LoginViewModel
<script src="~/Scripts/application.js"></script>
<!-- Button HTML (to Trigger Modal) -->
<div class="modal fade" id="forget-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="ClearForgotFilledData();">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Forgot password</h4>
            </div>
            <div class="modal-body">
                <div class="login-form-row">
                    <div class="user-input-fileds">
                        <input type="text" placeholder="Please enter registered email" class="form-control" name="EmailId" id="emailtxt">
                        @Html.ValidationMessageFor(n => n.employee)
                        <div><ul id="valid" /></div>
                    </div>
                </div>
                <div class="login-form-row">

                    <div class="user-input-fileds">
                        @*<input type="submit" id="forgot-btn" value="Forgot Password" class="forget-password-btn" onclick="SubmitForgotPassword();">*@
                        <input type="submit" id="forgot-btn" value="Forgot Password" class="forget-password-btn" onclick="return GetUserPassword();">
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>




